.head{
    background-color: #fff  !important;
    box-shadow: 0 2px 8px #f0f1f2 ;
    padding:0 !important;
    display: flex;
}
.head-img{
    margin:0 auto;
    /* margin-left: 2vw; */
}
.head-img span{
    margin-left: 1vw;
    font-size: 1.35em;
    font-weight: bold;
}
.sh{

    margin:5px 20px 0 0;
}